.about { /* stylelint-disable */
  padding-top: 50px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  padding-bottom: 20px;
}

.imgheadline {
  color: red;
}

.thumbnail {
  cursor: pointer;  
}
