.appBar { /* stylelint-disable */
  margin-bottom: 0;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
