/**
 * styles.css
 *
 * App container styles
 */

 .container { /* stylelint-disable */
   display: block;
 }

 body {
   font-family: Roboto;
   background-color: #EEEEEE;
 }

 * {
   box-sizing: border-box;
 }
